body {
  padding-top: 5rem;
}
.tips {
  padding: 3rem 1.5rem;
  text-align: center;
}
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}